<!DOCTYPE html>
<html>
  <head>
    <title>Card</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    Rails.application.config.assrts.precompile += %w(card.css)
    Rails.application.config.assrts.precompile += %w(card.js)
    Rails

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
