<html>
<head>
  <title>DB</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'cards.css','data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'cards.js', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
