<h1>Peole#add</h1>
<p><%=@mag %></p>
<%#エラーがあるかどうかチェックしいる %>
<%if @person.errors.any? %>
  <ul>
    <%#エラーメッセージを取り出して表示 %>
    <% @person.errors.full_messages.each do |err| %>
      <li><%=err %></li>
    <% end %>
  </ul>
<%end %>
<table>
  <%#第一引数にモデルのインスタンスをURLにコントラーとアクションを指定する %>
  <%=form_for(@person, url:{controller:'people' ,action:'create'})do |form| %>
<%=p @person %>

    <tr>
      <th>Name</th>
      <td><%=form.text_field :name %></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><%=form.text_field :age %></td>
    </tr>
    <tr>
      <th>Mail</th>
      <td><%=form.text_field :mail %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= form.submit "送信" %></td>
    </tr>
    <%end %>
    </table>